.cabeçalho {
    background-color:purple;
    color: rgb(0, 0, 0)
}

.universo-imagem {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
   
.universo-imagem {
    width: 24%;
}


