.cabeçalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    padding: 24px o;
}

.cabeçalho-imagem {
    width: 25%;
}

