.cabeçalho {
    background-color: #424e61;
    color: white
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.universo-imagem {
    width: 25%;
    align-items: center;
    padding: 20px 0;
}
   
.universo-imagem {
    width: 24%;
}


